// Colors
$dark-grey: #333;
$dark-blue: #364051;
$off-white: #f7f7f7;

$green: green;
$blue: blue;
$grey: #666;

$azul-oscuro : #1E254F;
$amarillo-ucab : #FBCC00;
$azul-ucab : #1CA1DC;
$verde-ucab : #0C5426;
$rojo : #FF0000;
$amarillo-claro : #FDE67F; 
$gris-claro : #E6E6E6;
$naranja : #FF6600;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
