// Colors
$dark-grey: #333;
$dark-blue: #364051;
$off-white: #f7f7f7;

$deep-green: #124615;
$green: #378039;
$blue: blue;
$cyan: #3887ff;
$yellow: #ffbb15;
$grey: #666;

$header-color: #34437a;
$azul-oscuro : #1E254F;
$amarillo-ucab : #FBCC00;
$azul-ucab : #1CA1DC;
$verde-ucab : #0C5426;
$rojo : #ff3c27;
$amarillo-claro : #FDE67F; 
$gris-claro : #E6E6E6;
$naranja : #FF6600;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$xm-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4rem;
$xxl-size: 4.8rem;
$desktop-breakpoint: 45rem;

$defaultMargin: 10px;

// Heights

$header-height: 85px;