.horizontal {
    display: flex;
    flex-direction: row;
}
.SobreMineral {
    background: $gris-claro;
    padding-bottom: 30px;
}

.AgregarRequisito{
    background: $verde-ucab;
    color: white;
    padding: 10px;
    width: 59%;
    margin-left: 175px;
    text-align: center;
    font-size: $m-size;
    transition: 0.5s all;
    cursor: pointer;
    &:hover{
        background: darken($verde-ucab,10%);
    }
}

.titulo-yacimiento {
    text-align: center;
    background: $amarillo-claro;

    h1 {
        margin: 0;
        padding: $s-size;
        font-size: $xl-size;
    }
}

.subtitulo-centrado {
    text-align: center;
    padding: 20px;
}

.pegar-derecha{
    display: flex;
    justify-content: flex-end;
    align-items : center;
}

.largo-input{
    width: 17%;
    height: 30px;
}

.separador{
    padding-left: 5px;
    padding-right: 5px;
}

.ancho-mineral{
    width: 30%
}

.ancho-cantidad{
    width: 30%
}

.campo-fase{
    width: 30%;
}

.imagen-diamante{
    margin : auto;
    padding-bottom: 30px;
}

.marco-etapa-configuracion{
    width: 80%;
    background: $gris-claro;
    margin : 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}