.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.SobreMineral {
    background: $gris-claro;
    padding-bottom: 30px;
}

.confYacimientoIzq{
    margin : 20px auto;
}

.btnAgregarEtapa{
    background: $verde-ucab;
    color: white;
    padding: 10px;
    width: 59%;
    margin: 0 auto;
    text-align: center;
    font-size: $m-size;
    transition: 0.5s all;
    cursor: pointer;
    &:hover{
        background: darken($verde-ucab,10%);
    } 
}

.btnAgregarRequisito{
    background: $verde-ucab;
    color: white;
    padding: 10px;
    width: 59%;
    margin-left: 175px;
    text-align: center;
    font-size: $m-size;
    transition: 0.5s all;
    cursor: pointer;
    &:hover{
        background: darken($verde-ucab,10%);
    }
}

.titulo-yacimiento {
    text-align: center;
    background: $amarillo-claro;

    h1 {
        margin: 0;
        padding: $s-size;
        font-size: $xl-size;
    }
}

.subtitulo-centrado {
    text-align: center;
    padding: 20px;
}

.pegar-derecha{
    display: flex;
    justify-content: flex-end;
    align-items : center;
}

.largo-input{
    width: 17%;
    height: 30px;
}

.separador{
    padding-left: 5px;
    padding-right: 5px;
}

.ancho-mineral{
    width: 30%
}

.ancho-cantidad{
    width: 30%
}

.imagen-diamante{
    margin : auto;
    padding-bottom: 30px;
}

/* ******** ETAPA ********** */
.marco-etapa-configuracion{
    width: 80%;
    background: $gris-claro;
    margin : 20px auto;
    padding-top: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.faseHorizontal {
    display: flex;
    flex-direction: row;
    align-items : center;
    justify-content: flex-end;
}

.etapa-conf-izq{
    width: 100%;
}

.etapa-conf-der{
    width: 100%;
    text-align: center;
    font-size: 150px;
    display: flex;
    flex-direction: column;
    justify-content : space-between;
}

.tipoEtapa{
    width: 80%;
    margin : 0 auto;
}

.inputOrden{
    width: 50%;
    background: none;
    border: none;
}


/* ******** FASE ******** */
.btnAgregarFase{
    background: $verde-ucab;
    color: white;
    padding: 10px;
    width: 80%;
    margin: 20px 10%;
    text-align: center;
    font-size: $m-size;
    transition: 0.5s all;
    cursor: pointer;
    &:hover{
        background: darken($verde-ucab,10%);
    } 
}

.btnFase{
    width: 100%;
    color: white;
    background-color: $azul-ucab;
    padding: 1rem;
    border: 3px solid transparent;

    height: 50px;
    transition: .3s ease-in-out;
    color: white;


    &::-webkit-input-placeholder{
        color: white;
    }

    &:hover{
        background-color: darken($azul-ucab,10%);
        cursor: pointer;

        &::-webkit-input-placeholder{
        color: #e0e9f7;
        }
    }

    &:focus, &.open{
        box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
        outline: 0;
        background-color: darken($azul-ucab,10%);
        color: #fff;
    
        &::-webkit-input-placeholder{
        color: lightblue;
        }
    }
}

.faseModal {
    display : flex;
    flex-direction: row;
}

.fase-conf-izq{
    width: 50%;
}

.fase-conf-der{
    width: 50%;
    text-align: center;
    font-size: 250px;
}

.fase-fase-izq{
    width: 80%;
}

.fase-fase-der{
    width: 20%;
    text-align: center;
    font-size: 250px;
}

.faseHorizontal{
    display : flex;
    width: 80%;
    justify-content : flex-end;
}
.inputOrdenFase {
    width: 50%;
    background: none;
    border: none;
    text-align: center;
}


/* CARGOS */
.cargoHorizontal{
    display : flex;
    flex-direction: row;
    justify-content : space-evenly;
    align-items: center; 
}