.dropdown-minerUcab button{
    background-color: $azul-ucab;
    border: 1px solid black;
    padding-right: 10px;
    height: 30px;
    width : 90px;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.agregar-otro {
    background-color: $verde-ucab;
    width: 50%;
}

.info-mineral {
    background: $gris-claro;
}

.btn-primary::after {
    float: right;
    margin-top: 10%; 

}

.titulo-yacimiento {
    text-align: center;
    background: $amarillo-claro;

    h1 {
        margin: 0;
        padding: $s-size;
        font-size: $xl-size;
    }
}

.subtitulo-centrado {
    text-align: center;
}

.pegar-derecha{
    display: flex;
    justify-content: flex-end;
    align-items : center;
}

.largo-input{
    width: 17%;
    height: 30px;
}

.separador{
    padding-left: 5px;
    padding-right: 5px;
}

.ancho-mineral{
    width: 30%
}

.ancho-cantidad{
    width: 30%
}

.campo-fase{
    width: 30%;
}

.imagen-diamante{
    margin : 0 auto;
}

.marco-etapa-configuracion{
    width: 80%;
    background: $gris-claro;
    margin : 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}