.ModalConsultar {
    min-width: 90%;
    min-height: 80%;

    .modal-content {
        width: 100%;
        height: 100%;

        border:  1px solid black;
    }
    .modal-content .modal-header .close {
        margin: 0;
    }
    
}

.mc-header {
    background: #E6E6E6;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

    h1 {
        font-weight: bolder;
        font-size: $xl-size;
    }

}

.mc-body {
    padding: 5%;
    font-size: $xm-size;
}

.mc-footer {
    background: #E6E6E6;
    border-top: 1px solid black;
}

.mc-boton {
    padding: 0 50px;
    margin-left: 5px;
    margin-left: 5px;
    font-size: $xm-size;
}

.mc-boton-guardar {
    background: $azul-ucab;
    border: none;
}

.mc-atributo {
    font-weight: bold;
}

.mc-multivalor {
    padding-left: 50px;
    margin: 0;
}