.HeaderLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $s-size;
    background: $blue;
}


.IconoMenu {
    color: white;
    cursor: pointer;
}

.IconoUser {
    color: white;
}