.SectionTitle
{
    background: $azul-oscuro;
    /*background: $amarillo-claro;
    me parece más bonito el azul
     */
    color: white;
    font-size: $xm-size;
    width: 100%;
    text-align: center;
    padding: 12px;
}


.HeaderLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 $s-size 0 $s-size;
    background: $header-color;
    height: $header-height;
    color: white;
    position: relative;
    z-index: 150;
}


.IconoMenu {
    color: white;
    cursor: pointer;
}

.IconoUser {
    color: white;
}