.Home
{
  width: 100%;
  height: calc(300vh + 85px);
  display: flex;
  flex-direction: column;

}

.HomeContent
{
  display: flex;
  flex-direction: column;
  height: calc(100% - 85px);
  width: 100%;

}

.HomeContainer
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.HomeContainer h1
{
  padding-bottom: 50px;
  text-align: center;
  font-size: 26px;
}

.ContainerBox
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.ImageHome
{
  width: 100%;
  height: 100%;
}

.TextHome
{
  padding: 50px;
  text-align: justify;
}

.HomeLine
{
  display: block;
  padding: 15px;
}

.HomeLine i
{
  margin-right: 5px;
}
