.InputTextContainer
{
  width: 80%;
  position: relative;
  margin: $defaultMargin auto;
}

.InputDateContainer
{
  width: 60%;
  position: relative;
  margin: $defaultMargin auto;
}

.InputDate
{
  background: $azul-ucab;
  color: white;
  width: 100%;
  padding: 1rem;
  border: solid #dcdcdc 1px;
}

.InputText
{
  width: 100%;
  padding: 1rem;
  border: solid #dcdcdc 1px;
  &:focus
  {
    border: solid $azul-ucab 1px;
  }
  &.error
  {
    border: solid $rojo 1px;
  }
}

.InputTextLabel
{
  position: absolute;
  pointer-events: none;
  top: 1px;
  left: 0;
  padding: 1rem;
  color: grey;
  transition: 0.5s all;
}

.InputTextLabel.BeSmall
{
  font-size: 10px;
  top: -10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 5px;
  color: $azul-ucab;
  background: white;
}

.InputTextLabel.BeSmall.grey
{
  color: grey;
}

.InputTextLabel.BeSmall.red
{
  color: $rojo;
}