.LabelContainer
{
  font-size: $m-size;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

.LabelIcon
{
  color: $rojo;
  font-size: 30px;
  margin-right: 0;
  padding: 20px;
  cursor: pointer;
}